<!-- Controller: AchievementsController - client/app/controllers/achievementsController.js -->
<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="#/" class="brand-logo">Achievements</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#/profile" class="icon left">{{session.firstName}}</a></li>
      <li><a href="#/" class="icon right">Run</a></li>
    </ul>
  </div>
</nav>

<!-- Could implement ng-repeat here -->
  
  <div class= "runsTitle"> Saved Runs </div>
  <div style="overflow: scroll; width: 200px; height:200px;" class="runHistory">
    <div ng-repeat="run in runs">
        <a ng-click="toggleShowDetails(run)">{{run.name}}</a>
    </div>
  </div>
    <div class="details" ng-show="showDetails">
      <div id= "static-map">
      </div>
      <p>Date of Run: {{theRun.date.slice(0,10)}}</p>
      <p>Total Distance: {{theRun.totalDistance}} mile </p>
      <p>Run Time: {{theRun.actualTime.slice(14,22)}}</p>
      <p>Medal Received: {{theRun.medalReceived}}</p>

    </div>
  
<div class="medalContainerOuter center-align">
  <div class="medalContainerInner">
    <img src="../assets/gold.png" class="icon" />
    <div class="count number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="medalContainerInner">
    <img src="../assets/silver.png" class="icon" />
    <div class="count number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="medalContainerInner">
    <img src="../assets/bronze.png" class="icon" />
    <div class="count number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="medalContainerInner">
    <img src="../assets/high five.png" class="icon" />
    <div class="count number"> &nbsp; x &nbsp; <span class="number">0</span></div>
  </div>
  <div class="total"> Total Runs: {{ total }} </div>
</div>
  <div class="container profile center-align bottom-align">
    <span><a href="#/" class="waves-effect waves-light grey darken-3 btn">Home<a></span>
  </div>
