<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="#/" class="brand-logo">Achievements</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#/profile" class="icon left">{{session.firstName}}</a></li>
      <li><a href="#/" class="icon right">Run</a></li>
    </ul>
  </div>
</nav>

<div class="titleMessage">Challenges</div>

<div class="container">
  <ul class="collection">
    <li class="collection-item valign-wrapper" ng-repeat='challenge in challenges track by $index'>
      <h6 class="valign">   You have a challenge from : {{ challenge.friend }},    Distance : {{challenge.totalDistance}},    Time to Beat : {{challenge.actualTime.slice(14,22)}}</h6>
      <input class = "accept btn waves-effect waves-light" type="submit" value="Accept" ng-click="challengeRunStart($index)"/>
    </li>
  </ul>
</div>