<div id="map"></div>
  <div id="botNav" class="grey darken-3">
    <!-- Progress bar -->
    <div class="progressBarContainer" ng-show="raceStarted">
      <div class="progressBarUser">
          <div class="completedUser" ng-style="{'width': percentComplete+'%'}"></div>
          <span class="progressInfoUser">Progress: {{percentComplete + "%"}}</span>
      </div>
    </div>

    <div class ="medalTimes" ng-show="raceStarted && hasHours">
      <div class="botLink timeToBeat" >Time to Beat: {{timeToBeat}}</div>
      <div class="botLink currentTime">Your Time: {{ runTime.format('hh:mm:ss') }}</div>
      <a class="botLink right" href="#/"> x </a>
    </div>
    <div class ="medalTimes" ng-show="raceStarted && !hasHours">
      <div class="botLink timeToBeat" >Time to Beat: {{timeToBeat}}</div>
      <div class="botLink currentTime" >Your Time: {{ runTime.format('mm:ss') }}</div>
      <a class="botLink right" href="#/"> x </a>
    </div>
    <div class ="medalTimes">
      <a class="botLink left" href="#/" ng-show="!raceStarted"> x </a>
      <div class="botLink clickable" ng-show="!raceStarted" ng-click="regenRace()"> <i class="small material-icons">replay</i> </div>
      <div class="botLink right clickable" ng-show="!raceStarted" ng-click="startRun()"> <i class="small material-icons">done</i> </div>
    </div>
  </div>